.dog-show-bottom-half {
  display: flex;
  align-items: center;
}

.dog-photos-container {
  height: 250px;
  display: flex;
  width: 70%;
  overflow: none;
  align-items: center;

  img {
    height: 220px;
    // width: 33.3%;
    width: 220px;
    object-fit: cover;
    cursor: pointer;
  }

  .dog-image-1 {
    height: 255px;
    // width: 36%;
    z-index: 1;
    width: 255px;
  }
}
