$nav-border-color: #e6e6e6;
$yelp-font: Helvetica Neue,Helvetica,Arial,sans-serif;
$yelp-blue: #0073bb;
$yelp-red: #d32323;

.nav-bar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #fafafa;

}

.splash-login {
  padding-left: 11px;
  padding-right: 11px;
  margin-right: 18px;
}

.splash-sign-up-button {
  border: 2px solid white;
  border-radius: 4px;
  padding: 8px 25px;
  margin-right: 0;
}

.splash-sign-up-button:hover {
  background-color: white;
  color: #666;
}

.not-signup:hover {
  border-bottom: 2px solid white;
  border-radius: 0;
}

.dog-show-nav-bar {
  display: flex;
  justify-content: space-between;
  height: 43px;
  width: 60%;
  border-left: .3px solid $nav-border-color;

  .nav-left {
    display: flex;
  }

    .nav-item {
      display: flex;
      justify-content: center;
      border-right: .3px solid $nav-border-color;
      align-items: center;
      font-weight: 500;
      color: #333;
      font-family: $yelp-font;
      font-size: 13px;
      position: relative;
      cursor: pointer;
      color: #454242;

      .nav-span-i {
        margin: 0 3px 0 10px;
      }

      .fa {
        font-size: 18px;
      }

      .fa-chevron-down {
        margin: 0 15px 0 10px;
        font-size: 16px;
      }

      .fa-pencil-square-o {
        margin-left: 25px;
      }

      .review {
        margin-right: 25px;
      }

    }

    .nav-item-container:hover {
      color: #0073bb;
    }

    .nav-left-item:first-child {
      border-left: .3px solid $nav-border-color;
    }

  .nav-right-review {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: .3px solid $nav-border-color;
  }
}

.modal-container {
  position: absolute;
  left: -.3px;
  top: 43px;
  background-color: white;
  z-index: 1;
  display: flex;
  padding-top: 5px;
  border: .3px solid #F2F2F2;


  .inner-modal {
    display: flex;
    flex-direction: column;

    .modal-items {
      margin: 20px 20px;
      display: flex;
      align-items: center;

      a {
        margin-left: 6px;
      }
    }

    .modal-items:hover {
      color: #0073bb;
    }
  }
}

.showNavHover {
  color: $yelp-blue;
}

.nav-right-review:hover {
  color: $yelp-blue;
}

.dog-show-upper-half {
  background: #f5f5f5;
  height: 450px;
}

.dog-show-body {
  width: 60%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.dog-show-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 20px 0;
  font-family: $yelp-font;

  .dog-show-header-left {

    .dog-show-left-title {
      display: flex;
      align-items: center;

      h1 {
        font-size: 36px;
        font-weight: 900;
        text-shadow: 0 1px rgba(255,255,255,0.7);
        color: #272727;
      }

      i {
        color: $yelp-blue;
        margin: 0 10px;
      }
    }

    .dog-show-review-score {
      display: flex;
      align-items: center;
      margin: 10px 0;

      span {
        color: #666;
        margin-left: 5px;
      }

      .star-img {
        width: 40%;
      }
    }

    .dog-show-types {
      display: flex;
      align-items: center;

      span {
        margin-right: 4px;
      }

      .dot {
        margin: 8px;
        color: #6C6B6B;
      }

      a {
        color: $yelp-blue;
        cursor: pointer;
      }

      a:hover {
        text-decoration: underline;
      }
    }

  }

  .dog-show-header-right {
    display: flex;
    align-items: center;

    .dog-show-write-review {
      display: flex;
      background: $yelp-red;
      color: white;
      margin-right: 12px;
      height: 37px;
      align-items: center;
      padding: 0 10px;
      border-radius: 3px;
      font-family: $yelp-font;
      border: .5px solid #8d0005;
      cursor: pointer;

      i {
        margin-right: 10px;
      }

      span {
        font-weight: bold;
        font-size: 14px;

      }
    }

    .dog-show-write-review:hover {
      background: #EC1414;
    }

    .dog-show-header-right-buttons {
      display: flex;
      color: #666;
      font-size: 12px;
      font-weight: 600;

      div:first-child {
        border-radius: 3px 0 0 3px;
      }

      div:last-child {
        border-radius: 0 3px 3px 0;
      }

      div {
        display: flex;
        padding: 0 8px;
        border: .5px solid rgb(204, 204, 204);
        height: 28px;
        align-items: center;
        background: #F7F7F7;
        justify-content: center;
        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
        cursor: pointer;

        i {
          margin-left: 5px;
        }

        span {
          margin: 0 5px;
        }

      }

      div:hover {
        background: white;
      }
    }
  }
}

.show-login {
  color: black;
}
