.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;

  .header-logo-link {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 63px;
      margin-top: 4px;
    }
  }
}

@media screen and (max-width: 800px) {
      .header-logo {
        display: none;
      }
    }

    @media screen and (max-width: 800px) {
      .show-top-nav-right {
        display: none;
      }
    }

    .show-top-nav-right {
      margin-left: 20px;
    }
