$yelp-font: Helvetica Neue,Helvetica,Arial,sans-serif;
$yelp-blue: #0073bb;

.map-text-container {
  min-height: 105px;
  font-family: $yelp-font;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  flex-direction: column;

  .map-text-item {
    display: flex;
    margin-top: 5px;

    .map-show-icon {
      margin-left: 13px;
      margin-top: 8px;
      margin-right: 10px;
      color: #666;
    }

    .map-text-address {
      margin-top: 5px;
      font-weight: bold;
      font-size: 14px;
    }

    a {
      margin-top: 7px;
      color: $yelp-blue;
      cursor: pointer;
    }

    a:hover {
      text-decoration: underline;
    }

    p {
      margin-top: 7px;
    }
  }
}
.show-map {
  height: 135px;
  width: 286px;
  border: 1px solid #ccc;
}



.map-container {
  background: white;
  width: 294px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
  border: 1px solid #ccc;
}

.map-text {
  line-height: 18px;
}

.map-text-city {
  display: block;
}

.map-phone-link {
  margin-left: 7px;
}

.map-text-item-last {
padding-bottom: 5px;
}
