$yelp-red: #d32323;

.reviews-right-container {
  display: flex;
  flex-direction: column;
  padding-left: 30px;

  .more-dog-info {
    position: sticky;
    top: 20px;

    h3 {
      font-weight: bold;
      color: $yelp-red;
      font-size: 16px;
      margin-bottom: 12px;
    }

    .dog-info-attribute {
      display: flex;
      font-size: 14px;
      margin-bottom: 5px;
      align-items: center;


      span:first-child {
        margin-right: 6px;
      }

      span:last-child {
        font-weight: bold;
      }
    }
  }
}
