$nav-border-color: #e6e6e6;
$yelp-font: Helvetica Neue,Helvetica,Arial,sans-serif;
$yelp-blue: #0073bb;
$yelp-red: #d32323;
$light-grey-border: #DCD9D9;
$yelp-grey: #666;

.reviews-container {
  padding-top: 100px;
}

.reviews-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid $light-grey-border;
  padding-bottom: 10px;
  width: 72%;

  span {
    padding: 0, 5px;
    font-size: 21px;
  }

  span:first-child {
    font-weight: bold;
    color: $yelp-red;
    padding-right: 5px;
  }
}

.review-rating {
  display: flex;
  align-items: center;

  span {
    color: $yelp-grey;
    font-size: 14px;
    margin-left: 10px;
  }
}

.review-stars {

  img {
    max-width: 100px;

  }
}

.review-body {
  display: flex;
  margin-top: 15px;
  justify-content: space-between;

  .reviews-middle-container {
    width: 75%;
    padding-top: 10px;
    padding-right: 50px;


    .review-item-container {
      padding-bottom: 20px;
      border-bottom: 1px solid $light-grey-border;
      margin-bottom: 25px;

      .review-item-body {
        padding-top: 10px;
        font-size: 14px;
      }
    }
}

  .reviews-right-container {
    border-left: 1px solid $light-grey-border;
    width: 25%;
  }
}
