$yelp-font: Helvetica Neue,Helvetica,Arial,sans-serif;
$yelp-blue: #0073bb;
$yelp-red: #d32323;
$yelp-light-border: #e6e6e6;

.review-form-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.review-form-body {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  width: 60%;

  .review-form-header {
    color: $yelp-blue;
    padding-bottom: 12px;
    font-size: 36px;
    font-weight: bold;
  }

  .review-form-header:hover {
    text-decoration: underline;
  }
}

.review-form-input {
  border: 1px solid $yelp-light-border;
  border-radius: 3px;
  width: 65%;
  height: 380px;
}

.review-form-text-input {
  min-height: 300px;
  width: 100%;
  margin-left: 3px;
  font-size: 20px;
  resize: none;
  margin-bottom: 40px;
}

.review-top-with-stars {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 25px;

  img {
    height: 30px;
    position: absolute;
    left: 3px;
    top: 3px;
  }

  .review-form-stars {
    height: 30px;
    display: flex;

    .review-star-div {
      // background-color: blue;
      // border: 1px solid red;
      margin: 2px;
    }
  }
}

.review-star-div {
  height: 30px;
  width: 29px;
  z-index: 1;
  cursor: pointer;
}

.rating-text {
  margin-left: 20px;
}

.review-form {
  margin: 15px;
}

.form-submit-button {
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 16px;
  line-height: 1.3125em;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  background-color: #d90007;
  color: white;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border: 1px solid #8d0005;
  border-radius: 3px;
  width: 40%;
  margin-left: -15px;

}
