$nav-border-color: #e6e6e6;
$yelp-font: Helvetica Neue,Helvetica,Arial,sans-serif;
$yelp-blue: #0073bb;
$yelp-red: #d32323;
$light-grey-border: #DCD9D9;
$yelp-grey: #666;
$yelp-light-gray: #999999;
$yelp-orange: #f15c00;

.reviews-container {
  margin-top: 100px;
}

.reviews-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid $light-grey-border;
  padding-bottom: 10px;
  width: 66%;

  span {
    padding: 0, 5px;
    font-size: 21px;
  }

  span:first-child {
    font-weight: bold;
    color: $yelp-red;
    padding-right: 5px;
  }
}

.review-rating {
  display: flex;
  align-items: center;

  span {
    color: $yelp-grey;
    font-size: 14px;
    margin-left: 10px;
  }
}

.review-stars {

  img {
    max-width: 100px;

  }
}

.review-body {
  display: flex;
  margin-top: 15px;
  justify-content: space-between;

  .reviews-middle-container {
    width: 69%;
    padding-top: 10px;
    padding-right: 50px;


    .review-item-container {
      padding-bottom: 20px;
      border-bottom: 1px solid $light-grey-border;
      margin-bottom: 25px;
      display: flex;
      width: 100%;

      .review-item-user {
        margin-right: 20px;
        display: flex;
        width: 36%;

        .user-info {
          display: flex;
          flex-direction: column;
          margin-left: 12px;
          font-size: 13px;

          .user-info-name {
            color: $yelp-blue;
            font-weight: bold;
            padding-bottom: 2px;
            font-size: 14px;
          }

          .user-info-loc {
            font-weight: bold;
            padding-bottom: 2px;
          }
        }
      }

      .review-item-review {
        width: 60%;
        margin-left: 20px;

        .review-item-body {
          padding-top: 10px;
          font-size: 14px
        }
      }

    }
}

  .reviews-right-container {
    border-left: 1px solid $light-grey-border;
    width: 31%;
  }
}

.user-photo {
  background-color: $light-grey-border;
  border-radius: 3px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;

  i {
    font-size: 38px;
    color: grey;
    padding: 10px;
  }

  img {
    object-fit: cover;
    height: 60px;
    width: 60px;
    border-radius: 3px;
  }
}

.user-info-reviews {
  display: flex;
  align-items: center;

  .user-info-star {
    background: $yelp-orange;
    color: white;
    padding: 2px;
    border-radius: 3px;
    font-size: 12px;
  }

  span {
    color: $yelp-grey;
    font-size: 12px;
  }

  .user-info-review-count {
    margin: 0 4px;
    font-weight: bold;
  }
}

.review-item-buttons {
  display: flex;
  color: #666;
  font-size: 12px;
  font-weight: 600;
  margin-top: 40px;

  div {
    display: flex;
    padding: 0 8px;
    border: 0.5px solid #cccccc;
    height: 28px;
    align-items: center;
    background: #F7F7F7;
    justify-content: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    i {
      font-weight: 900;
      margin-left: 5px;
    }

    span {
      margin: 0 5px;
    }
  }

  div:first-child {
    border-radius: 3px 0 0 3px;
  }

  div:last-child {
    border-radius: 0 3px 3px 0;
  }

  div:hover {
    background: white;
  }
}

.review-item-edit-buttons {
  display: flex;

  .edit-delete-buttons {
    margin-top: 39px;
    align-items: center;
    font-weight: bold;
    color: white;
    width: 40%;
    display: flex;
    justify-content: space-evenly;

    .edit-delete {
      background: $yelp-red;
      padding: 7px;
      border-radius: 3px;
      cursor: pointer;
      border: .5px solid #8d0005;
      font-size: 13px;
      display: flex;
      align-items: center;

      span {
        margin-left: 5px;
      }
    }

    .edit-delete:first-child {
    }

    .edit-delete:hover {
      background: #EC1414;
    }
  }
}
