$yelp-blue: #0073bb;
$yelp-grey: #666;

.splash-search-dropdown-container {
    position: absolute;
    left: -2px;
    top: 46px;
    width: 50.2%;
    border-top: 1px solid #666;
    z-index: 1;
    min-height: 240px;
    border-radius: 0 0 3px 3px;
    background: white;
    display: none;

    .splash-search-dropdown-item {
      color: $yelp-grey;
      padding: 12px 0 12px 20px;
      cursor: pointer;
      display: flex;
      align-items: center;

      i {
        margin-right: 15px;
        font-weight: bold;
        font-size: 16px;
      }

      span {
        color: black;
        font-size: 14px;
      }
    }

    .splash-search-dropdown-item:hover {
      color: white;
      background: $yelp-blue;

      span {
        color: white;
      }
    }
}

.search-bar-active {
  display: block;
}
