$yelp-blue: #0073bb;
$yelp-grey: #666;

.splash-search-dropdown-container {
    position: absolute;
    left: 0px;
    top: 50px;
    width: 47.2%;
    border-top: 1px solid #e6e6e6;
    z-index: 1;
    min-height: 240px;
    border-radius: 0 0 3px 3px;
    background: white;
    display: none;

    .splash-search-dropdown-item {
      color: $yelp-grey;
      padding: 12px 0 12px 20px;
      cursor: pointer;
      display: flex;
      align-items: center;

      i {
        margin-right: 15px;
        font-weight: bold;
        font-size: 16px;
      }

      span {
        color: black;
        font-size: 14px;
      }
    }

    .splash-search-dropdown-item:hover {
      color: white;
      background: $yelp-blue;

      span {
        color: white;
      }
    }
}


  @media screen and (max-width: 1300px) {
      .splash-search-dropdown-container {
        left: 0px;
        width: 100%;
      }
    }

.show-search-dropdown-container {
  position: absolute;
  left: 0px;
  top: 31px;
  width: 100%;
  border-top: 1px solid #e6e6e6;
  z-index: 1;
  min-height: 240px;
  border-radius: 0 0 3px 3px;
  background: white;
  display: none;

  .show-search-dropdown-item {
    color: $yelp-grey;
    padding: 12px 0 12px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;

    i {
      margin-right: 15px;
      font-weight: bold;
      font-size: 16px;
    }

    span {
      color: black;
      font-size: 14px;
    }
  }

  .show-search-dropdown-item:hover {
    color: white;
    background: $yelp-blue;

    span {
      color: white;
    }
  }
}

@media screen and (max-width: 750px) {
  .show-search-dropdown-container {
    top: 60px;
  }
}

.show-search-container {
  position: relative;
}


.search-bar-active {
  display: block;
}