$yelp-red: #d32323;
$yelp-font: Helvetica Neue,Helvetica,Arial,sans-serif;

.splash-dogs-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 200px;
  font-family: $yelp-font;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;


  h2 {
    color: $yelp-red;
    font-size: 21px;
    font-weight: 700;
    padding-bottom: 24px;
    border-bottom: 1px solid #e6e6e6;
    width: 100%;
    text-align: center;
  }
}

 .splash-dogs-preview-comp {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .dog-show-nav-bar {
    display: none;
  }
