$nav-border-color: #e6e6e6;
$yelp-font: Helvetica Neue,Helvetica,Arial,sans-serif;
$yelp-blue: #0073bb;
$yelp-red: #d32323;
$yelp-grey: #666;


.splash-header-container {
  height: 600px;
  width: 100%;
  font-family: $yelp-font;
  background: linear-gradient(
    rgba(20, 20, 20, .5),
    rgba(20, 20, 20, .5)),
    url('https://images2.alphacoders.com/588/588305.jpg');
  background-size: cover;
  background-position: 50%;

  .splash-body {
    width: 57%;
    margin: 0 auto;

  }

  .splash-top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 39px;
  }

    .splash-top-nav-left {
      display: flex;
    }

    .nav-item {
      color: white;
      font-weight: 700;
      font-size: 14px;
      margin-right: 9px;
      padding-bottom: 8px;
      border-bottom: 2px solid transparent;
      padding-left: 11px;
      padding-right: 11px;
    }

    .splash-login {
      padding-left: 11px;
      padding-right: 11px;
      margin-right: 18px;
    }

    .splash-sign-up-button {
      border: 2px solid white;
      border-radius: 4px;
      padding: 8px 25px;
      margin-right: 0;
    }

    .splash-sign-up-button:hover {
      background-color: white;
      color: #666;
    }

    .not-signup:hover {
      border-bottom: 2px solid white;
      border-radius: 0;
    }

  .splash-header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 87px;
    margin-bottom: 17px;

    img {
      height: 105px;
    }
  }
}



.splash-bottom-nav {
  display: flex;
  justify-content: center;
  margin-top: 22px;

  .nav-item {
    color: white;
    font-weight: 700;
    font-size: 14px;
    margin-right: 9px;
    padding-left: 11px;
    padding-right: 11px;

    i {
      padding-right: 5px;
    }

    .yellow-lab {
      color: yellow;
    }

    .black-lab {
      color: black;
    }

    .choc-lab {
      color: grey;
    }

    .golden {
      color: gold;
    }

    span:hover {
      text-decoration: underline;
    }
  }
}

.logout {
  cursor: pointer;
}
