$nav-border-color: #e6e6e6;
$yelp-font: Helvetica Neue,Helvetica,Arial,sans-serif;
$yelp-blue: #0073bb;
$yelp-red: #d32323;
$yelp-grey: #666;

.splash-parent-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.nav-items {
  color: white;
  font-weight: 700;
  font-size: 14px;
  margin-right: 9px;
  padding-bottom: 8px;
  border-bottom: 2px solid transparent;
  padding-left: 11px;
  padding-right: 11px;
  font-family: $yelp-font;
}

.splash-header-container {
  height: 60%;
  width: 100%;
  font-family: $yelp-font;
  background: linear-gradient(
    rgba(20, 20, 20, .5),
    rgba(20, 20, 20, .5)),
    url('https://images2.alphacoders.com/588/588305.jpg');
  background-size: cover;
  background-position: 50%;
  display: flex;
  justify-content: center;

  .splash-body {
    width: 57%;
    height: 100%;
    padding: 20px 0 0 0;

  }

  @media screen and (max-width: 900px) {
      .splash-body {
        width: 80%;
      }
    }

  .splash-top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  @media screen and (max-width: 1300px) {
      .splash-top-nav {
       justify-content: flex-end
      }
    }

    .splash-top-nav-left {
      display: flex;
    }

    @media screen and (max-width: 1300px) {
      .splash-top-nav-left {
       display: none;
      }
    }


    .splash-login {
      padding-left: 11px;
      padding-right: 11px;
      margin-right: 18px;
    }

    .splash-sign-up-button {
      border: 2px solid white;
      border-radius: 4px;
      padding: 8px 25px;
      margin-right: 0;
    }

    .splash-sign-up-button:hover {
      background-color: white;
      color: #666;
    }

    .not-signup:hover {
      border-bottom: 2px solid white;
      border-radius: 0;
    }

  .splash-header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 87px;
    margin-bottom: 17px;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    img {
      height: 105px;
    }
  }
}


.splash-bottom-nav {
  display: flex;
  justify-content: space-evenly;
  padding: 30px 0;
  width: 100%;

  .nav-items {
    color: white;
    font-weight: 700;
    font-size: 1.0vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 40px;

    i {
      padding-right: 10px;
      font-size: 18px;
      width: 10%;
    }

    span {
      width: 90%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 100%;
    }
    

    .yellow-lab {
      color: yellow;
    }

    .black-lab {
      color: black;
    }

    .choc-lab {
      color: grey;
    }

    .golden {
      color: gold;
    }

    span:hover {
      text-decoration: underline;
    }
  }

  @media screen and (max-width: 1300px) {
      .nav-items {
        font-size: 1.5vw;
        width: 30%;
      }
    }

    @media screen and (max-width: 1300px) {
      .nav-items:last-child {
        display: none;
      }
    }

    @media screen and (max-width: 900px) {
      .nav-items {
        font-size: 16px;
      }
    }

    @media screen and (max-width: 1000px) {
      .nav-items:last-child {
        display: none;
      }
    }

    @media screen and (max-width: 650px) {
      .siberian-item {
        display: none;
      }
    }

     @media screen and (max-width: 650px) {
      .nav-items {
        width: 40%;
      }
    }
}

.logout {
  cursor: pointer;
}

.show-login {
  border: 1px solid #c41314;
  border-radius: 3px;
  font-size: 13px;
  padding: 10px 12px;
  margin-right: 5px;
}

.show-login:hover {
  border-bottom: 1px solid #c41314;
  background: #cc2122;
}

.show-sign-up-button {
  background-color: #f8f8f8;
  color: #333;
  border-radius: 3px;
  padding-top: 8px;
}
