$nav-border-color: #e6e6e6;
$yelp-font: Helvetica Neue,Helvetica,Arial,sans-serif;
$yelp-blue: #0073bb;
$yelp-red: #d32323;
$yelp-grey: #666;


.splash-header-container {
  height: 570px;
  width: 100%;
  font-family: $yelp-font;
  background: linear-gradient(
    rgba(20, 20, 20, .5),
    rgba(20, 20, 20, .5)),
    url('https://images2.alphacoders.com/588/588305.jpg');
  background-size: cover;
  background-position: 50%;

  .splash-body {
    width: 56%;
    margin: 0 auto;

    .splash-top-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 39px;

      .splash-top-nav-left {
        display: flex;
      }

      .nav-item {
        color: white;
        font-weight: 700;
        font-size: 14px;
        margin-right: 30px;
        padding-bottom: 8px;
        border-bottom: 2px solid transparent;
      }

      .not-signup:hover {
        border-bottom: 2px solid white;
        border-radius: 0;
      }

      .login {
        padding-left: 11px;
        padding-right: 11px;
        margin-right: 18px;
      }

      .sign-up-button {
        border: 2px solid white;
        border-radius: 4px;
        padding: 8px 25px;
        margin-right: 0;
      }

      .sign-up-button:hover {
        background-color: white;
        color: #666;
      }
    }
  }

  .splash-header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 79px;
    margin-bottom: 17px;

    img {
      height: 105px;
    }
  }

  .splash-search-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .splash-search-input {
      background: white;
      padding: 8px 0;

      span {
        color: #666;
        margin: 0 12px;
        font-weight: 700;
        font-size: 18px;
      }

      input {
        height: 30px;
      }
    }

    .left-bar {
      border-radius: 4px 0 0 4px;

      .left-input {
        border-right: 1px solid grey;
        width: 420px;
      }
    }

    .right-bar {
      padding-right: 10px;

      .right-input {
        width: 340px;
      }

      .right-input::placeholder {
        color: #272727;
      }
    }

    .splash-search-button {
      background: $yelp-red;
      border-radius: 0 4px 4px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 14px 23px;
      cursor: pointer;
      border: .2px solid #8d0005;

      i {
        color: white;
        font-size: 18px;
      }
    }

    .splash-search-button:hover {
      background: #AF1E1E;
    }
  }
}
