/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, h3, h4, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  list-style: none;
}

.session-form {

  header {
    height: 60px;
    width: 100%;
    background: #d32323;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 130px;
  }

  header img {
    max-width:100%;
    max-height:100%;
  }
}

.session-form-body {
  display: flex;
  justify-content: space-around;
}

.session-form-left {
  display: block;
  text-align: center;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  max-width: 300px;
  width: 100%;
  height: 435px;
  padding-top: 30px;
  padding-left: 100px;

  .session-form-left-text {
    display: flex;
    justify-content: center;
  }

  .legal-copy {
    margin-top: 10px;
    color: #333;
    font-size: 12px;
    margin-bottom: 12px;
    font-weight: normal;
  }

  .login-seperator {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px 0;

    .or-line {
      border-top: 1px solid grey;
      height: 1px;
      width: 100%;
    }

    .or-text {
      margin: 0 10px;
    }
  }

  .session-form-left-facebook {
    background-color: #3b5998;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #263961;
    border-radius: 3px;
    margin-bottom: 9px;
    padding: 5px 9px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    width: 96%;

    p {
      color: white;
      padding: 5px;
    }
  }

    .session-form-left-google {
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      border: .5px grey;
      border-radius: 3px;
      margin-bottom: 9px;
      padding: 5px 9px;
      box-shadow: 0 1px 1px rgba(0,0,0,0.3);
      width: 96%;

      p {
        color: #666;
        padding: 5px;
      }
  }

  h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 6px;
    color: #d32323;
    margin-bottom: 6px;
  }

  p {
    font-weight: bold;
    display: inline-block;
    font-size: 14px;
  }

  input {
    border: 1px solid #999;
    border-radius: 3px;
    display: block;
    padding: 5px 9px;
    background: #fff;
    font-size: 14px;
    line-height: 1.29em;
    width: 96%;
    margin-bottom: 9px;
  }


  input::placeholder {
    text-align: left;
  }

  input[type=submit] {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
    line-height: 1.3125em;
    border-color: #8d0005;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    background-color: #d90007;
    color: white;
    font-weight: bold;
  }

  .session-form-right {
  }


}

.session-form-left-button {
  color: #0073bb;
  margin-left: 4px;
}
